/*
Palette:

Black: #323032
Light-Black: #686c6d
Blue: #11779F
Red: #B32728
White: #F8FDFF
Grey: #D6D2C9

Danger Bleu: #3b87a9
Danger Jaune : #faba01
Danger Orange: #e75114
Danger Raouge: cd0c1f

Gris Clair: dbdbdb

Carte 1061x1460 
Carre 900-128 x 330-564
Coor : Bleu 168 : 1324
Jaune : 1068
Orange : 816
Rouge : 564
*/


@import url('https://fonts.googleapis.com/css?family=Righteous');

@font-face {
  font-family: myFontSatan;
  src: url('../fonts/who asks satan.ttf');
}


body {
	font-family: Righteous, cursive;
	font-size:  1em ;
	/* font: small-caps bold 24px Righteous; */
	background-color: #F8FDFF;
	color : #323032;
	/* background-image : url("../images/background.jpg"); */
}




#espace-start {
	position: absolute;
	width: 500px;
	background: #F8FDFF;
	top: 300px;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border-radius: 10px; */
	/* border : solid 1px red;	 */
	}

 h1{
	color: #323032;
	font-size: 32px;
	margin: 10px;
	padding: 0;
	text-align: center;
	}
	
#SelectMulti {
	margin: 10px;
	text-align: center;
 
}
#SelectMulti .default {
	font-size: 16px;
  font-family: Righteous, cursive;
  background-color: #686c6d;
  color: #F8FDFF;

}

#SelectMulti .chosen-choices {
/* background-color: #F8FDFF; */
	background-color: #686c6d;
	color: #F8FDFF;
	background-image: none;
	border-radius: 3px;
	/* background: url(../images/chosen-sprite.png) -42px 1px no-repeat; */
}

#SelectMulti .chosen-choices:hover {
/* background-color: #F8FDFF; */
	background-color: #B32728;

}

#espace-start button {
	position: relative;
	margin: 1%;
	border-radius: 3px;
	border: 2px solid #686c6d;
	box-sizing: border-box;
	padding: 4px;
	width: 48%;
	font-size: 16px;
	font-family: Righteous, cursive;
	background: #686c6d;
	color: #F8FDFF;
	float: left ;
	}
	
#espace-start #start-cartes{
	background-color: #D6D2C9;
}

#espace-start #start-invasion:hover {
	background-color: #B32728;
	
	/* background-image: linear-gradient(#323032 1%, #B32728 15%); */
}


#espace-start #start-message {
  height: 12px;
  text-align: center;
  margin: 10px;
  font-size: 15px;
  color: #B32728;
}


/*

CCS pour l'espace de jeux

*/



#espace-jeux {

	position: absolute;
	width: 1000px;
	height: 920px;
	background: #F8FDFF;
	/* left: 2%; */
	/* transform: translate(-50%, -50%); */
	border-radius: 10px;
	border : solid 2px #686c6d;
	margin: 0 auto;
	
}

#navigation {
	text-align: center;
}




#invastion-statut {
  position: absolute;
  /* width: 400px; */
  background: #D6D2C9;
  top: 0;
  right: 0;
  /* transform: translate(-50%, -50%); */
  border-radius: 0px 10px 0px 10px;
  font-size: 0.9em;
  /* border: solid 1px red; */
  margin : 5px
}

#invastion-statut h4{
	text-align : center;
	margin: 0.5em;
}

#invastion-statut .statut-input{
  position: relative;
  display: block;
  width: 12em;
  margin: 0.5em;
  text-align: left;
  font-family: Righteous, cursive;
  font-size: 0.8em;
}

#invastion-statut .statut-input input{
  float: right;
  line-height: 1em;
  font-family: Righteous, cursive;
  width: 3em;
  font-size: 0.8em;
  text-align: center;
}

.danger-bleu{
	background-color : #3b87a9;
	border-style: none;
}	
	
#invastion-statut .statut-button {
	text-align: center;
	margin: 0.5em;
	 position: relative;
  display: block;
}

#invastion-statut .statut-button button {
	position: relative;
	/* margin: 15px; */
	border-radius: 3px;
	border: 2px solid #686c6d;
	box-sizing: border-box;
	padding: 4px;
	font-size: 28px;
	font-family: Righteous, cursive;
	background: #686c6d;
	color: #F8FDFF;
}

#invastion-statut .statut-button button:hover {
	background-color: #B32728;
}


/* ul { */
 /* list-style-type: none; */
/* } */
		
		
#invasion-pioche{
 
	display: none;
		Z-index : 25;
}


/* Animation des Cartes

*/



 .carte_s {
	height:160px;
    width:105px;
	border-radius: 10px;
	background: #F8FDFF;
}

 .carte_s:hover {
	height:320px;
    width:210px;
}

 .carte_m {
	height:320px;
    width:210px;
	border-radius: 10px;
	background: #F8FDFF;
}


.carte_l{
	height:480px;
    width:315px;
	border-radius: 10px;
	background: #F8FDFF;
}


#Conteneur_Animation 
{
	background-color: transparent;
	position: absolute;
	width:72%; // de #espace-jeux:width 
	perspective: 1000px;
	top : 50px;
	margin-left: 1%;
	/* border: 1px dotted red; */
	/* margin: 100px 10px 10px 10px; */
}




#Conteneur_Animation  #dos {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	top:0;
	left:0;
}

#Conteneur_Animation #resultat {
	position: absolute;
	/* width: 100%; */
	/* height: 100%; */
	z-index: 35;
	top:0;
	left:77%; /*  1 - (210px/1000px) - 2 * Conteneur_Animation:margin-left*/ 
	
}

#Conteneur_Animation  #Animation
{
  position: absolute;
	width: 210px;
	height: 320px;
  /* text-align: center; */
  /* transition: transform 2s; */
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  	top:0;
	left:0%;
	
}

/* #Conteneur_Animation:hover #Animation { */
  /* transform: rotateY(180deg);  */
  /* animation: spin 2s; */
/* } */

.front, .back
{ 
	position: absolute;
	/* width: 210px; */
	/* height: 320px; */
	backface-visibility: hidden;
}

/* @keyframes spin { */
	/* 0% { transform: rotateY(0);margin-top : -0px; } */
	/* 50% { transform: rotateY(90); margin-left : 150%; margin-top : -50px;} */
	/* 100% { transform: rotateY(180deg); margin-left : 300%;margin-top : -0px;} */
/* } */
@keyframes spin {
	 0% { transform: rotateY(0) ;}
	 100% { transform: rotateY(180deg); margin-left : 77%}  /*  1 - (210px/1000px) 2 * Conteneur_Animation:margin-left*/ 
}

.front
{  
   z-index: 100; 
	/* transform-origin: 160px 105px; */
}
.back
{  
	 z-index: 90;
    transform: rotateY(180deg);
	/* transform-origin: 160px 105px; */
}


/*

Deausse

*/


#invasion-defausse
{  
  position: absolute;  
  top: 380px
}


#invasion-defausse img{
	box-shadow: 0px 25px 19px -18px #545454;
	margin: 10px;
}