/*
.carte {
			height: 640px;
			width: 420px;
		}
*/


#options li {
	float : left;
    margin-right: 25px;
}

#navigation {
	float : none
}
		
		
#Pioche{
    position:relative;
    height:200px;
    width:700px;
    margin:auto;
}
ul {
 list-style-type: none;
}

#Pioche ul li img{
    position:absolute;
    top:0;
    left:0;
	height:320px;
    width:210px;
}

